<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DofusMissions.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DofusMissions.Settings>
            <setting name="MissionsWindowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MissionsWindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MissionsWindowHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MissionsWindowWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="IconTop" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="IconLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastMissions" serializeAs="String">
                <value />
            </setting>
        </DofusMissions.Settings>
    </userSettings>
</configuration>